
:root{
    --my-web-bg:#{$bg};
    --my-web-color:#{$color};
    --my-web-font-size:#{$font-size};
}
*,html{
    background:$bg;
    color: $color;
    font-size: $font-size;
}
div{
    background-color: $bg;
}
div,p,span,a{
    font-weight: $font-weight;
}




.loading-switching-enter-active{
    animation: switch-loading .38s linear; 

}
.loading-switching-leave-active{
    animation: switch-loading .38s linear reverse; 

}
@keyframes switch-loading{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}